.ImageContainer {
  background-image: url('https://static.vecteezy.com/system/resources/previews/016/390/591/non_2x/hands-symbol-raised-free-png.png');
  background-position: bottom center;
  background-repeat: repeat;
  background-size: 200px;
  width: 100vw;
  height: 100px;
}
